.env
/data/processed/*
!/data/processed/.gitkeep
/data/raw
.venv
__pycache__/
/pipelines/airflowlogs/
config/key.json
logs/dag*
logs/scheduler*
!logs/Data_Download.log
/data/dvc/bundle_data.json
/data/dvc/item_metadata.json
/data/dvc/reviews.json
/data/models
actions-runner/
